@import "tailwindcss";
@import "./styles.css";

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#__nuxt {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-400.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-500.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-600.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-700.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-800.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/normal-900.woff2") format("woff2");
}

@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/italic-400.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/italic-500.woff2") format("woff2");
}
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/be-vietnam-pro/italic-600.woff2") format("woff2");
}
